    
<body>
    @Html.Partial("_Espacio1")
    <div class="container contact_container">

        <h3>@ViewBag.EXCEPCIONES_INDEX_TITULO</h3>
        <br />
        <hr />
        <div>

            <div class="alert alert-danger" role="alert">@Session["Excepcion"]!</div>

            <img src="~/Imagenes/sad_robot.png" />

        </div>

    </div>
</body>
@Html.Partial("_Espacio2")

