@{
    ViewBag.Title = "Error de Sistema";

}

@Html.Partial("_Espacio1")

<h2>TUVIMOS UN ERROR, DISCULPE LAS MOLESTIAS.</h2>
<br />
<hr />
    <div>
                
        <div class="alert alert-danger" role="alert">@Session["Excepcion"]!</div>

        <img src="~/Imagenes/sad_robot.png" />

    </div>

@Html.Partial("_Espacio2")

