
@{
    ViewBag.Title = "Usuario RESCATE";
}

@Html.Partial("_Espacio1")
<body>

    <div class="container contact_container">
        @*<div class="col-md-12">
            <h4>USUARIOS WEBMASTER</h4>
            <hr />

            <p>-  <a href="~/RegistroUsuarioWebMaster/Index" class="btn btn-sm btn-info" role="button">Gestion de Usuarios WebMasters</a></p>
            <br />
        </div>*@

        <h4>MENÚ RESCATE</h4>
        <br />

        <div class="col-md-12">
            
            <h4>ERRORES DE INTEGRIDAD</h4>
            <hr />

            <p><a href="~/RescateIntegridad/Index" class="btn btn-sm btn-info" role="button">VER ERRORES</a></p>
            <br />
            <p><a href="~/Rescate/SolucionarIntegridad" class="btn btn-sm btn-info" role="button">SOLUCIONAR ERRORES</a></p>
            <br />
        </div>

        <div class="col-md-12">
            
           
            <h4>COPIA DE RESPALDO</h4>
            <hr />

            <p><a href="~/Rescate/RealizarBackUp" class="btn btn-sm btn-info" role="button">REALIZAR BACKUP</a></p>
            <br />
        </div>

        <div class="col-md-12">
            
           
            <h4>RESTORE DE LA BASE</h4>
            <hr />

            <p><a href="~/Rescate/ListarRespaldos" class="btn btn-sm btn-info" role="button">REALIZAR RESTORE</a></p>
            <br />
        </div>
        </div>
    </body>
        @Html.Partial("_Espacio2")
