
@{
    ViewBag.Title = "Usuarios WebMaster";

}

@Html.Partial("_Espacio1")

<div class="col-md-12">
    <h3>ALTA USUARIO WEBMASTER</h3>
    <hr />

    <p><a href="~/RegistroUsuarioWebMaster/Index" class="btn btn-lg btn-success" role="button">Gestionar Usuarios WebMasters</a></p>

</div>

<div class="col-md-12">
    <br />
    <hr />
    <h3>REALIZAR RESPALDO</h3>
    <hr />

    <p><a href=# class="btn btn-lg btn-success" role="button">Realizar Respaldo</a></p>

</div>

<div class="col-md-12">
    <br />
    <hr />
    <h3>REALIZAR RESTORE DE LA BASE</h3>
    <hr />

    <p><a href=# class="btn btn-lg btn-success" role="button">Realizar Restore</a></p>

</div>

@Html.Partial("_Espacio2")
