@Html.Partial("_Espacio1")

<head>
    <meta name="viewport" content="width=device-width" />
    <title>Restaurar Copia de Respaldo</title>
</head>
<body>
    <div>

        <div class="alert alert-success" role="alert">Se ha restaurado la copia de respaldo correctamente.</div>

    </div>

    <p><a href="~/Rescate/Index" class="btn btn-lg btn-info" role="button">Volver</a></p>
</body>


@Html.Partial("_Espacio2")