@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">



        <div>

            <div class="alert alert-success" role="alert">@Presentacion.Recursos.Recursos.PRODUCTO_CARRITO_LEYENDA_SIN_PRODUCTOS</div>

        </div>

        </div>
    </body>

@Html.Partial("_Espacio2")