@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">



        <div>

            <div class="alert alert-success" role="alert"><h2>@ViewBag.PRODUCTO_FINALIZAR_COMPRA_LEYENDA</h2></div>

        </div>

        <div class="form-group">
            @Html.ActionLink((String)ViewBag.BOTON_FINALIZAR, "Index", "Home", null, new { @class = "btn btn-info btn-sm" })
        </div>

        </div>
    </body>

@Html.Partial("_Espacio2")