@Html.Partial("_Espacio1")

<body>

    <div class="container contact_container">



        <div>

            <div><img src="~/Imagenes/COMPRA_EXITOSA.png"/></div>
            <br />
            <div class="alert alert-success" role="alert">@ViewBag.PRODUCTO_FINALIZAR_COMPRA_LEYENDA</div>

        </div>

        <div class="form-group">
            @Html.ActionLink((String)ViewBag.BOTON_FINALIZAR, "Index", "Home", null, new { @class = "btn btn-info btn-sm" })
        </div>

        </div>
    </body>

@Html.Partial("_Espacio2")