@*<div class="main_slider" style="background-image:url(../../ColoShop/images/slider_1.jpg)">*@
<div class="main_slider" style="background-image: url('../../Imagenes/SeccionPrincipal/seccion_principal_2 (FILEminimizer).jpg');">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h3>Expertos en Serigrafía</h3>
                    @*<h1>POTENCIÁ EL NEGOCIO</h1>*@
                    <h1>IMPRIMIENDO CONFIANZA</h1>
                    <div class="red_button shop_now_button"><a href="/Producto/Catalogo">catálogo</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@*<div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(../../ColoShop/images/banner_1.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">women's</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(../../ColoShop/images/banner_2.jpg)">
                        <div class="banner_category">
                            <a>accessories's</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(../../ColoShop/images/banner_3.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">men's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@



<!-- Deal of the week -->

<div class="deal_ofthe_week">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>OFERTA SEMANAL</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    @*<img src="../../ColoShop/images/deal_ofthe_week.png" alt="">*@

                    <img src="~/Imagenes/SeccionOfertaSemanal/oferta_semanal.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-center deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center">
                    @*<div class="section_title align-content-center">
                            <h2>Oferta Semanal</h2>
                        </div>*@
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">03</div>
                            <div class="timer_unit">Dias</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">Horas</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">Min</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">Seg</div>
                        </li>
                    </ul>

                    @*<div class="container fill_height">*@
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="main_slider_content">
                                <br />
                                <br />
                                <h2>IMPRESORA AUTOMÁTICA AU-365</h2>

                                <br />
                                <br />
                                @*<div class="red_button shop_now_button"><a href="#">shop now</a></div>*@
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                    @*<div class="red_button deal_ofthe_week_button" size="xl"><a href="#">Comprar</a></div>*@
                    <div class="red_button shop_now_button" size="xl"><a href="#">Comprar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Blogs -->

<div class="blogs">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">
                    <h2>CONOCE NUESTROS BENEFICIOS</h2>
                </div>
            </div>
        </div>

        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_24x7 (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">COMPRA DESDE DONDE ESTÉS</h4>
                        <span class="blog_meta">servicio 24 x 7</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_servicios_logistica (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">SERVICIO DE ENVÍOS GRATIS</h4>
                        <span class="blog_meta">logística especializada</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_materiales (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">MATERIA PRIMA DE PRIMERA CALIDAD</h4>
                        <span class="blog_meta">garantía de fábrica</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_sustentable (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">TECNOLOGÍA SUSTENTABLE</h4>
                        <span class="blog_meta">ECOFRIENDLY</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_servicio_tecnico (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">SERVICIO TÉCNICO ESPECIALIZADO</h4>
                        <span class="blog_meta">MANTENIMIENTO PREVENTIVO</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>


            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_importadores (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">PRODUCTOS IMPORTADOS</h4>
                        <span class="blog_meta">todo el año</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Folleto Virtual</h4>
                    <p>Suscribite a nuestro voletin mensual y enterate de las ultimas novedades.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="post">
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        <input id="newsletter_email" type="email" placeholder="Ingresa tu correo" required="required" data-error="Valid email is required.">
                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Suscribirme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>