@*<div class="main_slider" style="background-image:url(../../ColoShop/images/slider_1.jpg)">*@
<div class="main_slider" style="background-image: url('../../Imagenes/SeccionPrincipal/seccion_principal_2 (FILEminimizer).jpg');">
    <div class="container fill_height">
        <div class="row align-items-center fill_height">
            <div class="col">
                <div class="main_slider_content">
                    <h5>Expertos en Serigrafía</h5>
                    @*<h1>POTENCIÁ EL NEGOCIO</h1>*@
                    <h1>IMPRIMIENDO CONFIANZA</h1>
                    <div class="red_button shop_now_button"><a href="#">catálogo</a></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Banner -->
@*<div class="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(../../ColoShop/images/banner_1.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">women's</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(../../ColoShop/images/banner_2.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">accessories's</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="banner_item align-items-center" style="background-image:url(../../ColoShop/images/banner_3.jpg)">
                        <div class="banner_category">
                            <a href="categories.html">men's</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- New Arrivals -->

<div class="new_arrivals">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>CATÁLOGO DE MÁQUINAS</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col text-center">
                <div class="new_arrivals_sorting">
                    <ul class="arrivals_grid_sorting clearfix button-group filters-button-group">
                        @*<li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center active is-checked" data-filter="*">TODAS</li>*@
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".man">Manuales</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".sau">Semi-Automáticas</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".au">Automáticas</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".tampo">Tampográficas</li>
                        <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center" data-filter=".otras">otras</li>

                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="product-grid" data-isotope='{ "itemSelector": ".product-item", "layoutMode": "fitRows" }'>

                    <!-- Manuales -->

                    <!-- Product 1 -->
                    <div class="product-item man">
                        <div class="product product_filter">
                            <div class="product_image">


                                <img src="~/Imagenes/Fotos Maquinas/1.Manuales/MT-110.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Manual MC-110</a></h6>
                                <div class="product_price">$23.200</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 2 -->

                    <div class="product-item man">
                        <div class="product discount product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/1.Manuales/MC-120.jpg" alt="">
                            </div>
                            <div class="favorite favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>10% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Manual MC-120</a></h6>
                                <div class="product_price">$24.480<span>$27.200</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 3 -->
                    <div class="product-item man">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/1.Manuales/MT-130.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Manual MC-130</a></h6>
                                <div class="product_price">$28.800</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 4 -->
                    <div class="product-item man">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/1.Manuales/MC-140.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Manual MC-140</a></h6>
                                <div class="product_price">$40.640</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 5 -->
                    <div class="product-item man">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/1.Manuales/MT-150.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>Nueva</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Manual MC-150</a></h6>
                                <div class="product_price">$67.040</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Semi-Automáticas -->

                    <!-- Product 6 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-205.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-205</a></h6>
                                <div class="product_price">$124.800</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 7 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-210.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>5% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-210</a></h6>
                                <div class="product_price">$109.440<span>115.200</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 8 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-215.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>10% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-215</a></h6>
                                <div class="product_price">$92.160<span>102.400</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 9 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-225.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-225</a></h6>
                                <div class="product_price">$172.800</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 10 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-230.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-230</a></h6>
                                <div class="product_price">$142.400</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 11 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-245.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-245</a></h6>
                                <div class="product_price">$107.840</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 12 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-260.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-260</a></h6>
                                <div class="product_price">$110.400</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 13 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-265.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-265</a></h6>
                                <div class="product_price">$128.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 14 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-270.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-270</a></h6>
                                <div class="product_price">$108.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 15 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-280.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-280</a></h6>
                                <div class="product_price">$152.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 16 -->

                    <div class="product-item sau">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/2.Semiautomáticas/SA-285.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Semi-Automática SA-285</a></h6>
                                <div class="product_price">$144.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>


                    <!-- Automáticas -->

                    <!-- Product 17 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-305.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-305</a></h6>
                                <div class="product_price">$224.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 18 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-315.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-315</a></h6>
                                <div class="product_price">$192.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 19 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-320.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-320</a></h6>
                                <div class="product_price">$181.600</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 20 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-330.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>NUEVA</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-330</a></h6>
                                <div class="product_price">$284.800</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 21 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-340.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-340</a></h6>
                                <div class="product_price">$361.600</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 22 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-350.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-350</a></h6>
                                <div class="product_price">$540.800</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 23 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-360.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-360</a></h6>
                                <div class="product_price">$800.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 24 -->

                    <div class="product-item au">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/3.Automáticas/AU-365.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>25% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Automática AU-365</a></h6>
                                <div class="product_price">$517.200<span>$689.600</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Tampográficas -->

                    <!-- Product 25 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-410.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-410</a></h6>
                                <div class="product_price">$105.600</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 26 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-420.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>15% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-420</a></h6>
                                <div class="product_price">$102.000<span>$120.000</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 27 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-425.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-425</a></h6>
                                <div class="product_price">$103.360</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 28 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-440.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-440</a></h6>
                                <div class="product_price">$174.400</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 29 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-450.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-450</a></h6>
                                <div class="product_price">$140.800</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 30 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-460.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>5% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-460</a></h6>
                                <div class="product_price">$121.600<span>$128.000</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 31 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-465.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-465</a></h6>
                                <div class="product_price">$112.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 32 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-470.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-470</a></h6>
                                <div class="product_price">$150.400</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 33 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-480.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>NUEVA</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-480</a></h6>
                                <div class="product_price">$216.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 34 -->

                    <div class="product-item tampo">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/4.Tampográficas/TA-485.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Impresora Tampográfica TA-485</a></h6>
                                <div class="product_price">$184.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- OTRAS -->

                    <!-- Product 35 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-710.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-710</a></h6>
                                <div class="product_price">$52.200</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 36 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-720.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>NUEVO</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-720</a></h6>
                                <div class="product_price">$41.280</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 37 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-730.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-730</a></h6>
                                <div class="product_price">$62.400</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 38 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-740.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-740</a></h6>
                                <div class="product_price">$70.400</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 39 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-750.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_bubble product_bubble_left product_bubble_green d-flex flex-column align-items-center"><span>10% Off</span></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-750</a></h6>
                                <div class="product_price">$74.016<span>$82.240</span></div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 40 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-760.png" alt="">
                            </div>
                            <div class="favorite"></div>
                            
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-760</a></h6>
                                <div class="product_price">$40.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 41 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">
                                <img src="~/Imagenes/Fotos Maquinas/5.Tuneles de Secado/TS-770.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Túnel de Secado TS-770</a></h6>
                                <div class="product_price">$49.600</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 42 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">

                                <img src="~/Imagenes/Fotos Maquinas/6.Insoladoras UV/UV-810.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Lámpara UV-810</a></h6>
                                <div class="product_price">$24.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 43 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">

                                <img src="~/Imagenes/Fotos Maquinas/6.Insoladoras UV/UV-815.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Lámpara UV-815</a></h6>
                                <div class="product_price">$20.000</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 44 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">

                                <img src="~/Imagenes/Fotos Maquinas/6.Insoladoras UV/UV-820.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Lámpara UV-820</a></h6>
                                <div class="product_price">$23.200</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>

                    <!-- Product 45 -->

                    <div class="product-item otras">
                        <div class="product product_filter">
                            <div class="product_image">

                                <img src="~/Imagenes/Fotos Maquinas/6.Insoladoras UV/UV-825.jpg" alt="">
                            </div>
                            <div class="favorite"></div>
                            <div class="product_info">
                                <h6 class="product_name"><a href="single.html">Lámpara UV-825</a></h6>
                                <div class="product_price">$19.200</div>
                            </div>
                        </div>
                        <div class="red_button add_to_cart_button"><a href="#">VER</a></div>
                    </div>


                </div>
            </div>
        </div>

    </div>
</div>

<!-- Deal of the week -->

<div class="deal_ofthe_week">
    <div class="container">

        <div class="row">
            <div class="col text-center">
                <div class="section_title new_arrivals_title">
                    <h2>OFERTA SEMANAL</h2>
                </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="deal_ofthe_week_img">
                    @*<img src="../../ColoShop/images/deal_ofthe_week.png" alt="">*@

                    <img src="~/Imagenes/SeccionOfertaSemanal/oferta_semanal.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-6 text-center deal_ofthe_week_col">
                <div class="deal_ofthe_week_content d-flex flex-column align-items-center">
                    @*<div class="section_title align-content-center">
                            <h2>Oferta Semanal</h2>
                        </div>*@
                    <ul class="timer">
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="day" class="timer_num">03</div>
                            <div class="timer_unit">Dias</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="hour" class="timer_num">15</div>
                            <div class="timer_unit">Horas</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="minute" class="timer_num">45</div>
                            <div class="timer_unit">Min</div>
                        </li>
                        <li class="d-inline-flex flex-column justify-content-center align-items-center">
                            <div id="second" class="timer_num">23</div>
                            <div class="timer_unit">Seg</div>
                        </li>
                    </ul>

                    @*<div class="container fill_height">*@
                    <div class="row align-items-center">
                        <div class="col">
                            <div class="main_slider_content">
                                <br />
                                <br />
                                <h2>IMPRESORA AUTOMÁTICA AU-365</h2>

                                <br />
                                <br />
                                @*<div class="red_button shop_now_button"><a href="#">shop now</a></div>*@
                            </div>
                        </div>
                    </div>
                    @*</div>*@
                    @*<div class="red_button deal_ofthe_week_button" size="xl"><a href="#">Comprar</a></div>*@
                    <div class="red_button shop_now_button" size="xl"><a href="#">Comprar</a></div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Beneficios -->
@*<div class="benefit">
        <div class="container">
            <div class="row benefit_row">
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-truck" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Envío gratis</h6>
                            <p>Servicio de Primera Calidad Puerta a Puerta</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-money" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>todas las formas de pago</h6>
                            <p>Sin Moverte de tu Empresa</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-undo" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>30 dias para devoluciones</h6>
                            <p>Garantia de Fábrica en Todas las Máquinas</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 benefit_col">
                    <div class="benefit_item d-flex flex-row align-items-center">
                        <div class="benefit_icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
                        <div class="benefit_content">
                            <h6>Oficinas Comerciales</h6>
                            <p>8AM - 09PM</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<!-- Blogs -->

<div class="blogs">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <div class="section_title">
                    <h2>CONOCE NUESTROS BENEFICIOS</h2>
                </div>
            </div>
        </div>

        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_24x7 (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">COMPRA DESDE DONDE ESTÉS</h4>
                        <span class="blog_meta">servicio 24 x 7</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_servicios_logistica (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">SERVICIO DE ENVÍOS GRATIS</h4>
                        <span class="blog_meta">logística especializada</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_materiales (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">MATERIA PRIMA DE PRIMERA CALIDAD</h4>
                        <span class="blog_meta">garantía de fábrica</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>
        </div>

        <div class="row blogs_container">

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_sustentable (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">TECNOLOGÍA SUSTENTABLE</h4>
                        <span class="blog_meta">ECOFRIENDLY</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>

            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_servicio_tecnico (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">SERVICIO TÉCNICO ESPECIALIZADO</h4>
                        <span class="blog_meta">MANTENIMIENTO PREVENTIVO</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>


            <div class="col-lg-4 blog_item_col">
                <div class="blog_item">
                    <div class="blog_background" style="background-image: url('../../Imagenes/SeccionBeneficios/beneficios_importadores (FILEminimizer).jpg')"></div>
                    <div class="blog_content d-flex flex-column align-items-center justify-content-center text-center">
                        <h4 class="blog_title">PRODUCTOS IMPORTADOS</h4>
                        <span class="blog_meta">todo el año</span>
                        @*<a class="blog_more" href="#">Read more</a>*@
                    </div>
                </div>
            </div>



        </div>

    </div>
</div>

<!-- Newsletter -->

<div class="newsletter">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="newsletter_text d-flex flex-column justify-content-center align-items-lg-start align-items-md-center text-center">
                    <h4>Folleto Virtual</h4>
                    <p>Suscribite a nuestro voletin mensual y enterate de las ultimas novedades.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <form action="post">
                    <div class="newsletter_form d-flex flex-md-row flex-column flex-xs-column align-items-center justify-content-lg-end justify-content-center">
                        <input id="newsletter_email" type="email" placeholder="Ingresa tu correo" required="required" data-error="Valid email is required.">
                        <button id="newsletter_submit" type="submit" class="newsletter_submit_btn trans_300" value="Submit">Suscribirme</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>