
@{
    ViewBag.Title = "Usuarios WebMaster";
}

@Html.Partial("_Espacio1")

<body>
    <div class="container contact_container">
       
        <div class="row">


            <div class="col">

                @if ((String)Session["IdiomaApp"] == "Esp" || (String)Session["IdiomaApp"] == null)
                {<h4>NUESTRA IDEA DE NEGOCIO</h4>
                    <p align="justify">
                        <tt>
                            LA IDEA DE NEGOCIO ES OFRECER UN SERVICIO DE VENTA DE MAQUINARIA DESTINADA A REALIZAR TRABAJOS SERIGRÁFICOS.
                            ESTE SERVICIO LE DA AL CLIENTE LA POSIBILIDAD DE ADQUIRIR LA MÁQUINA QUE MEJOR SE ADECUE AL TRABAJO EN CUESTIÓN Y LUEGO CONTINUAR
                            CON SUS ACTIVIDADES SIN CORRER EL RIESGO DE REALIZAR UNA MALA INVERSIÓN.
                            <br />
                            <br />
                            LA EMPRESA APUNTA A UN MODELO DE NEGOCIOS B2B, CENTRÁNDOSE EN UN SEGMENTO DE PEQUEÑAS Y MEDIANAS EMPRESAS DENTRO DE CAPITAL FEDERAL Y GRAN BUENOS AIRES
                            DEDICADAS AL RUBRO SERIGRÁFICO QUE DESEEN REALIZAR TRABAJOS DE IMPRESIÓN SOBRE CUALQUIER SUPERFICIE SÓLIDA. EN IMPLANTAGRAF EL CLIENTE ENCONTRARÁ UN SERVICIO DE PRIMERA, ATENDIDO 
                            POR PROFESIONALES CAPACITADOS Y SOBRE TODO CON GRAN CORDIALIDAD, PORQUE LO QUE NOS IMPORTA ES QUE EL CLIENTE VUELVA.
                            <br />
                            <br />
                            MAS DE 30 AÑOS DE EXPERIENCIA EN EL RUBRO NOS RESPALDAN.

                        </tt>
                    </p>
                }

                @if ((String)Session["idiomaApp"] == "Eng")
                {
                    <h4>OUR BUSINESS VISION</h4>

                    <p align="justify">
                        <tt>

                            THE BUSINESS IDEA IS TO OFFER A MACHINERY SALES SERVICE INTENDED TO PERFORM SERIGRAPHIC WORKS.
                            THIS SERVICE GIVES THE CUSTOMER THE POSSIBILITY OF PURCHASING THE RIGHT MACHINE WHEN THE WORK DEMAND IT
                            AND THEN, CONTINUE WITH THE DAILY ACTIVITIES WITHOUT ANY RISKS OF MAKING A BAD INVESTMENT.
                            <br />
                            <br />
                            THE COMPANY IS A B2B BUSINESS MODEL, MAKING FOCUS ON SMALL AND MEDIUM-SIZED COMPANIES IN THE CAPITAL CITY AND OUTSIDE.
                            DEDICATED TO SERIGRAPHIC PRINTING WORKS ON ANY SOLID SURFACE. IN IMPLANTAGRAF YOU WILL FIND THE BEST CUSTOMER EXPERIENCE
                            BECAUSE FOR US, THE CUSTOMER MATTERS.
                            <br />
                            <br />
                            MORE THAN 30 YEARS OF EXPERIENCE IN THE SERIGRAPH BUSSINESS SUPPORT US.
                        </tt>
                    </p>
                }

            </div>
            <div class="col">

                @*<img src="~/Imagenes/robot_trabajando.jpg" class="img-thumbnail" alt="Cinque Terre" />*@
                <img src="~/Imagenes/QUIENES_SOMOS.jpg" class="img-thumbnail" alt="Cinque Terre" />
            </div>
        </div>
    </div>

</body>
@Html.Partial("_Espacio2")