@{
    ViewBag.Title = "Recuperar Contraseña.";

}

@Html.Partial("_Espacio1")

<h2>RECUPERAR CONTRASEÑA</h2>
<br />
<hr />
    <div> 


        <img src="~/Imagenes/robot_trabajando.jpg" class="img-thumbnail" alt="Cinque Terre"/>

    </div>

@Html.Partial("_Espacio2")

