@{
    ViewBag.Title = "Recuperar Contraseña.";

}

@Html.Partial("_Espacio1")

<h4>@Presentacion.Recursos.Recursos.CUENTA_RECUPERAR_PSW_TITULO</h4>
<br />
<hr />
    <div> 
        
        <img src="~/Imagenes/robot_trabajando.jpg" class="img-thumbnail" alt="Cinque Terre"/>

    </div>

@Html.Partial("_Espacio2")

